:root {
  --base: #44ABF8;
    --base:  #747ef1;
    --base-accent: #7a79d3;
    --base-dark: #0c0a4e;
    --base-light: #bbbaff;
    --assent: #ffffff;
    --audio-color: #dbd520;
    --audio-color: #E1EA35;

  } 