.settings-panels-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}


.settings-panels-list-item {
    display: flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.settings-panels-list-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #a7a7a7;
}



.settings-panels-list-item:hover input~.checkmark,
.todo-items:hover input~.checkmark {
    background-color: #eeeeee;
}

.settings-panels-list-item:hover input:checked~.checkmark,
.todo-items:hover input:checked~.checkmark {
    background-color: #38a7ff;
}

.todo-items .checkmark {
    top: 3px;
}

input:checked~.checkmark {
    background-color: #2196F3;
    border:none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
        left: 5px;
        top: 2px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}